*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/dictionaries/Kiddos.xml
.idea/codeStyles/Project.xml
app/src/main/res/layout/character_sheet_page_2.xml
app/src/main/res/layout/character_sheet_page_2.xml
