<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student.charactersheet5e">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dndapplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DescCAC"></activity>
        <activity android:name=".ProficienciesCAC" />
        <activity android:name=".ReviewCAC" />
        <activity
            android:name=".Pop_Help_Activity"
            android:theme="@style/AppTheme.CustomPopTheme" />
        <activity
            android:name=".Pop_Load"
            android:theme="@style/AppTheme.CustomPopTheme" />
        <activity android:name=".AbilitiesCAC" />
        <activity android:name=".BeginCAC" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>